// text colors 

$header-txt-color: #212832;
$s1-h4-color: #DF6951;
$h1-color: #181E4B;
$s-titles-color: #14183E;
$s-txt-colors: #5E6282;
$s2-h4-color: #1E1D4C;
$footer-categories-color: #080809;

//colors

$s1-btn1: #F1A501;
$s1-btn2: #DF6951;
$subscribe-btn: #FF946D;
$subscribe-background-color: #DFD7F9;

//fonts

$font1:'Volkhov', serif;
$font2: 'Poppins', sans-serif;

// responsive

$Large: 1260px;
$Medium: 1020px;
$Small: 640px;